<div class="header__container">
  <div class="header">
    <mat-icon
      mat-ripple
      [matRippleRadius]="25"
      [matRippleCentered]="true"
      [matRippleUnbounded]="true"
      matRippleColor="rgba(72, 104, 0, 0.12)"
      >light_mode</mat-icon
    >
    <div>Score: 700</div>
    <mat-icon
      mat-ripple
      [matRippleRadius]="25"
      [matRippleCentered]="true"
      [matRippleUnbounded]="true"
      matRippleColor="rgba(72, 104, 0, 0.12)"
      >lightbulb_outline</mat-icon
    >
  </div>
</div>
