$white: #fff;
$black: #000;

$dark-primary: #a8d553;
$dark-on-primary: #243600;
$dark-background: #1b1c17;
$dark-surface-variant: #45483d;
$dark-tertiary: #a0d0c9;
$dark-on-tertiary: #013733;
$dark-on-surface: #e4e3db;

$white-primary: #486800;
$white-on-primary: $white;
$white-background: #fefcf4;
$white-surface-variant: #e2e4d4;
$white-tertiary: #396661;
$white-on-tertiary: $white;
$white-on-surface: $black;
