<ng-container [ngSwitch]="letters.length">
  <div class="controls__container four-letters" *ngSwitchCase="4">
    <div class="controls__container four-letters__first-container">
      <wordy-control-letter
        [letter]="letters[0]"
        class="controls__container four-letters__first-container__letter-1"></wordy-control-letter>
      <wordy-control-letter
        [letter]="letters[1]"
        class="controls__container four-letters__first-container__letter-2"></wordy-control-letter>
    </div>
    <div class="controls__container four-letters__second-container">
      <wordy-control-letter
        [letter]="letters[2]"
        class="controls__container four-letters__second-container__letter-1"></wordy-control-letter>
      <wordy-control-letter
        [letter]="letters[3]"
        class="controls__container four-letters__second-container__letter-2"></wordy-control-letter>
    </div>
  </div>
</ng-container>
