@import 'colors';

.foo {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $white-tertiary;
  border-radius: 16px;

  &.active {
    background: white;
    color: $white-tertiary;
  }
}
